<% include ../header %>
<body>
<% include ../menu %>

<div class="container">
    <div class="card">
        <div class="card-body"><i class="fas fa-exclamation-triangle"></i>
            Lo sentimos pero aun estamos trabajando en esta seccion, muchas gracias por tu interés.
        </div>
    </div>
</div>

<% include ../footer %>
</body>

</html>
