<% include ../header %>
<style type="text/css">
	body {
		background: #aa4b6b;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
</style>

<body>
	<% include ../menu %>
	<div class="container">
		<div class="card-deck">
			<div class="card">
				<img src="https://scontent.fmvd4-1.fna.fbcdn.net/v/t1.0-9/p960x960/66288529_2000934520012479_6770274892781715456_o.jpg?_nc_cat=103&_nc_ohc=XjhqWTxzxbAAQnQlvwIEAmvYu89Oe-Y5sfXM305IQ8SssorSxlz53hpxg&_nc_ht=scontent.fmvd4-1.fna&oh=110d69ff71a19d9f4b19b2d3b4895874&oe=5E861E93"  class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title" align="center">Marta Pereyra</h5>
					<p class="card-text" align="justify">Artista plastica uruguaya mas propiamente de la ciudad de
						Treinta y tres.</br>
						Se caracteriza por su Abstracto Figurativo en una amplia variedad de tecnicas.</p>
					<p class="card-text" align="center">
						<small class="text-muted">Ultima actualizacion 25/11/2019</small></p>
					<a class="btn btn-primary btn-lg btn-block" href="/marta_pereyra" role="button">Visitar</a>
				</div>
			</div>
			<div class="card">
				<img src="" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted"></small></p>
				</div>
			</div>
			<div class="card">
				<img src="" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted"></small></p>
				</div>
			</div>
			<div class="card">
				<img src="" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted"></small></p>
				</div>
			</div>
			<div class="card">
				<img src="" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text"></p>
					<p class="card-text"><small class="text-muted"></small></p>
				</div>
			</div>
		</div>
	</div>

	<% include ../footer %>
</body>

</html>