<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5C89F8;">
		<div class="container">
			<a class="navbar-brand" href="/" style="font-size: 40px;  font-family: 'Indie Flower', cursive;"><i class="fas fa-broadcast-tower"></i>El Faro</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/"><i class="fas fa-home"></i>Inicio <span class="sr-only">(current)</span></a>
					</li>
					<!--
					<li class="nav-item">
						<a class="nav-link" href="/login"><i class="fas fa-user"></i>Login</a>
					</li>
					-->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-music"></i>
							Musica
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/default">Rock</a>
							<a class="dropdown-item" href="/default">Grunge</a>
							<a class="dropdown-item" href="/default">Metal</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">POP</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">RAP</a>
							<a class="dropdown-item" href="/default">Freestyle</a>
							<a class="dropdown-item" href="/default">Trap</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">Electronica</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">Folklorica</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">Tango</a>
							<a class="dropdown-item" href="/default">Clasica</a>
							<a class="dropdown-item" href="/default">Lirica</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">Otros</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-universal-access"></i>
							Artes Visuales
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/pintura">Pintura</a>
							<a class="dropdown-item" href="/default">Escultura</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/default">Fotografia</a>
							<div class"dropdown-divider"></div>
							
							
						</div>
					</li>
					<!--
					<li class="nav-item">
						<a class="nav-link" href="/registro"><i class="fas fa-user-check"></i>Registrarse</a>
					</li>
					-->
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Buscar">
					<button class="btn btn-dark" type="submit">Buscar <i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>
	</nav>